*{
	font-family: 'Open Sans', sans-serif !important;
}

div.slide{
	background-color:#000;
}

.slide h4{
	padding:10px;
	color:#4AB247;
}

.main{
	padding-top:50px;
	padding-bottom:50px;
}

section { 
	width: 100% !important; 
	margin-left: auto !important; 
	margin-right: auto !important; 
	max-width: initial !important; 
}

.small-4{
	text-align:center;
}

h3{
	color:white;
}